#The below configurations are so you (and I) can place this repository within a Minecraft Instance to test things.

#The CraftTweaker team is not responsible in the event you ship a copy of the MIT License within your pack.


/*  
scripts/*
!scripts/
!scripts/*
!scripts/*/*    
!.gitignore
LICENSE
README.md
